<div class="container shadow p-3 mb-5 bg-body rounded-3">
  <form action="/" method="post" id="url-form" novalidate>
    <div class="input-group">
      <span class="input-group-text" id="basic-addon3">url</span>
      <input type="url" pattern="https://.*" class="form-control" id="basic-url" aria-describedby="basic-addon3"
        placeholder="Please input https://..." name="url" value="{{ url }}" required>
      <button class="btn btn-secondary" type="submit" id="shortenBtn">Shorten</button>
      <div class="invalid-feedback">
        Please input valid url.(begins with https://)
        e.g. https://www.google.com.tw
      </div>
    </div>
  </form>
  

  {{#if reurl}}
  <div class="mt-3">
    <h2 style="display:inline-block">Your reurl is here: <a href="{{reurl}}" target="_blank" id="reurlResult">{{reurl}}</a></h2>
    
    <a tabindex="0" class="btn btn-sm mb-2" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
     data-bs-content="Copied" data-bs-placement="top"><span id="copyIcon"><i class="fa-solid fa-copy"></i>Copy</span></a>
  </div>
  {{/if}}
</div>

