<div class="container">
  <form action="/urls/results" method="post">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3">https://</span>
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
        placeholder="Please input your url here...">
      <button class="btn btn-secondary" type="submit" id="button-addon2">Shorten</button>
    </div>
  </form>
</div>