body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(45deg, #bae9ae, #ffe136);
}

.container {
    background: linear-gradient(45deg,#ffe136, #bae9ae);
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reurlResult {
  font-size: 0.7em;
}

#copyIcon {
  color: #84ab7a;
  font-weight: bolder;
}

#copyIcon:hover {
  cursor: pointer;
  color: #ef9700;
  font-weight: bolder;
}
