body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(45deg, #bae9ae, #ffe136);
}

.container {
    background: linear-gradient(45deg,#ffe136, #d4cca1);
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}